{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-02-08T00:00:00.000Z"
  },
  "compound-engineering-plugin": {
    "source": {
      "source": "github",
      "repo": "EveryInc/compound-engineering-plugin"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/compound-engineering-plugin",
    "lastUpdated": "2026-02-08T00:00:00.000Z"
  },
  "superpowers-marketplace": {
    "source": {
      "source": "github",
      "repo": "obra/superpowers-marketplace"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/superpowers-marketplace",
    "lastUpdated": "2026-02-08T00:00:00.000Z"
  }
}
